# Getting Started

This netebook contains some minimal setup code to get started with the data analysis, including the installation of the required libraries and data loading fraom files.

### Install some required libraries

Depending on the system configuration it may be necessary to install more libraries.

### Shared functions loading
Load a library of shared functions that may be used for the analsys if the data. If any part of the loading fails, this may be fixed by installing more libraries in the cell above.

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
def read_transaction_data(DIR_INPUT, BEGIN_DATE, END_DATE):
    
    files = [os.path.join(DIR_INPUT, f) for f in os.listdir(DIR_INPUT) if f>=BEGIN_DATE+'.pkl' and f<=END_DATE+'.pkl']

    frames = []
    for f in files:
        df = pd.read_pickle(f)
        frames.append(df)
        del df
    df_final = pd.concat(frames)
    
    df_final=df_final.sort_values('TRANSACTION_ID')
    df_final.reset_index(drop=True,inplace=True)
    #  Note: -1 are missing values for realpi world data 
    df_final=df_final.replace([-1],0)
    
    #drop the TX_DATETIME column because ai model only works with numbers
    return df_final

### Load data
Using the shared_functions.py library, load the input data into a Pandas dataframe

In [3]:
# Load data from the 2018-07-25 to the 2018-08-14

DIR_INPUT='../simulated-training-data-raw' 

BEGIN_DATE = "2018-07-25"
END_DATE = "2018-08-14"

print("Load  files...")
transactions_df=read_transaction_data(DIR_INPUT, BEGIN_DATE, END_DATE)
print("Done")

Load  files...
Done

In [4]:
transactions_df

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,1102483,2018-07-25 00:00:29,1111,2328,40.77,9936029,115,0,0
1,1102484,2018-07-25 00:01:08,676,6846,9.62,9936068,115,0,0
2,1102485,2018-07-25 00:01:35,402,4771,81.55,9936095,115,0,0
3,1102486,2018-07-25 00:01:43,4218,863,23.10,9936103,115,0,0
4,1102487,2018-07-25 00:02:26,3711,3599,59.25,9936146,115,0,0
...,...,...,...,...,...,...,...,...,...
201290,1303773,2018-08-14 23:57:03,460,6133,16.72,11750223,135,0,0
201291,1303774,2018-08-14 23:58:24,3101,3229,38.16,11750304,135,0,0
201292,1303775,2018-08-14 23:58:24,4783,7511,69.85,11750304,135,0,0
201293,1303776,2018-08-14 23:58:45,2883,8550,14.99,11750325,135,0,0
201294,1303777,2018-08-14 23:59:43,3901,8047,55.99,11750383,135,0,0

In [5]:
transactions_df["TX_DATETIME"] = transactions_df["TX_DATETIME"].astype(np.int64)

In [6]:
train, test = train_test_split(transactions_df, test_size=0.2)

In [7]:
X_train = train[["TRANSACTION_ID","TX_DATETIME","CUSTOMER_ID","TERMINAL_ID","TX_AMOUNT","TX_TIME_SECONDS","TX_TIME_DAYS"]]

In [8]:
X_test = test[["TRANSACTION_ID","TX_DATETIME","CUSTOMER_ID","TERMINAL_ID","TX_AMOUNT","TX_TIME_SECONDS","TX_TIME_DAYS"]]

In [9]:
Y_train = train["TX_FRAUD"]

In [10]:
Y_test = test["TX_FRAUD"]

In [12]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [14]:
y_pred = knn.predict(X_test)

accuracy = accuracy_score(Y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.9919

In [23]:
# Load data from the 2018-07-25 to the 2018-08-14

DIR_INPUT='../training-data/input' 

BEGIN_DATE = "2018-04-01"
END_DATE = "2018-09-30"

print("Load  files...")
input_training_data=read_transaction_data(DIR_INPUT, BEGIN_DATE, END_DATE)
print("Done")

Load  files...
Done

In [16]:
input_training["TX_DATETIME"] = input_training["TX_DATETIME"].astype(np.int64)

In [17]:
input_training = scaler.fit_transform(input_training)

In [18]:
input_training.shape

(1754155, 7)

In [24]:
y_pred.shape

(1754155,)

In [20]:
y_pred = knn.predict(input_training)

In [21]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [25]:
input_training_data["prediction"] = y_pred

In [26]:
input_training_data

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,prediction
0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0
1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0
2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0
3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0
4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0
...,...,...,...,...,...,...,...,...
1754150,1754150,2018-09-30 23:56:36,161,655,54.24,15810996,182,0
1754151,1754151,2018-09-30 23:57:38,4342,6181,1.23,15811058,182,0
1754152,1754152,2018-09-30 23:58:21,618,1502,6.62,15811101,182,0
1754153,1754153,2018-09-30 23:59:52,4056,3067,55.40,15811192,182,0
1754154,1754154,2018-09-30 23:59:57,3542,9849,23.59,15811197,182,0

In [27]:
filtered_df = input_training_data[input_training_data['prediction'] == 1]

In [28]:
filtered_df

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,prediction
3527,3527,2018-04-01 10:17:43,3774,3059,225.41,37063,0,1
5790,5790,2018-04-01 13:31:48,4944,6050,222.26,48708,0,1
6549,6549,2018-04-01 14:42:02,4625,9102,226.40,52922,0,1
10749,10749,2018-04-02 06:06:00,3770,5671,264.95,108360,1,1
11556,11556,2018-04-02 07:46:45,1863,4841,265.17,114405,1,1
...,...,...,...,...,...,...,...,...
1750457,1750457,2018-09-30 13:43:56,4314,5774,386.35,15774236,182,1
1750861,1750861,2018-09-30 14:19:26,3280,1405,427.50,15776366,182,1
1751380,1751380,2018-09-30 15:05:02,3516,6801,569.40,15779102,182,1
1752248,1752248,2018-09-30 16:36:25,1771,7763,375.95,15784585,182,1
1753081,1753081,2018-09-30 18:29:03,3059,8488,358.20,15791343,182,1

In [29]:
print(sum(y_pred))

3062

In [30]:
ids = filtered_df["TRANSACTION_ID"]

In [31]:
ids

3527          3527
5790          5790
6549          6549
10749        10749
11556        11556
            ...
1750457    1750457
1750861    1750861
1751380    1751380
1752248    1752248
1753081    1753081
Name: TRANSACTION_ID, Length: 3062, dtype: int64

In [44]:
def write_list_to_text_file(filename, input_list):
    try:
        with open(filename, 'w') as file:
            for item in input_list:
                file.write(str(item) + '\n')
        print(f"Successfully wrote {len(input_list)} items to {filename}")
    except IOError as e:
        print(f"Error writing to {filename}: {e}")

In [33]:
lst = ids.to_numpy()

In [38]:
lst = lst.reshape(1,-1)

In [41]:
lst = lst.tolist()

In [42]:
lst

[[3527,
  5790,
  6549,
  10749,
  11556,
  15257,
  18260,
  23511,
  26719,
  28150,
  30183,
  30439,
  31579,
  33277,
  36625,
  37136,
  38021,
  43829,
  43956,
  44519,
  47090,
  47355,
  49044,
  49535,
  49563,
  50116,
  50568,
  50767,
  50862,
  51196,
  51812,
  52458,
  52729,
  53149,
  55431,
  55761,
  55994,
  56310,
  56659,
  57653,
  59148,
  59566,
  61052,
  61762,
  63254,
  64339,
  64412,
  64505,
  65694,
  65939,
  66864,
  67690,
  67727,
  69251,
  69714,
  70184,
  70294,
  70583,
  70781,
  71314,
  71435,
  72615,
  72912,
  73116,
  73806,
  74616,
  75563,
  75647,
  75947,
  76455,
  76689,
  77379,
  77562,
  77624,
  78714,
  79370,
  79769,
  80385,
  80772,
  82896,
  83939,
  84256,
  84645,
  85920,
  86337,
  86367,
  86742,
  86951,
  87061,
  87218,
  87584,
  88132,
  88978,
  89120,
  89365,
  89521,
  89789,
  90550,
  91322,
  91973,
  92580,
  94232,
  94842,
  94854,
  95160,
  95388,
  95411,
  96052,
  96683,
  97000,
  97838,
  97844,
  97874,
  97900,
  99250,
  100203,
  100641,
  100878,
  101131,
  101190,
  101406,
  101740,
  102948,
  104029,
  104147,
  104914,
  106740,
  107081,
  107534,
  108035,
  109019,
  109984,
  110308,
  110721,
  111338,
  111479,
  111857,
  112003,
  112112,
  115262,
  115695,
  116425,
  116742,
  117452,
  118113,
  118411,
  122276,
  122726,
  123127,
  124558,
  124657,
  125615,
  126143,
  126147,
  126156,
  126379,
  128043,
  128046,
  128744,
  128868,
  129632,
  130340,
  130765,
  130834,
  130860,
  132377,
  132720,
  133141,
  133682,
  135294,
  136821,
  136931,
  138089,
  138124,
  138269,
  139009,
  139445,
  141046,
  141256,
  141412,
  142290,
  142905,
  143012,
  143190,
  143595,
  144386,
  144430,
  144536,
  144744,
  144863,
  145411,
  145662,
  145939,
  146342,
  147762,
  149305,
  149595,
  150491,
  151065,
  152034,
  152330,
  152716,
  152747,
  153028,
  153976,
  154241,
  154419,
  154500,
  154543,
  154934,
  155193,
  155471,
  155712,
  156807,
  156968,
  157039,
  157089,
  157384,
  157508,
  157589,
  158731,
  159333,
  159384,
  159488,
  159955,
  162878,
  163097,
  163408,
  164217,
  165601,
  165845,
  166093,
  166390,
  166747,
  166979,
  167017,
  167923,
  169541,
  169555,
  170497,
  171070,
  171251,
  172031,
  173456,
  173599,
  174067,
  174295,
  174340,
  174568,
  174943,
  175888,
  176006,
  176165,
  176183,
  176418,
  177427,
  177692,
  177743,
  178087,
  178351,
  178361,
  179543,
  179559,
  179903,
  181833,
  182723,
  183922,
  184277,
  184479,
  184582,
  184589,
  185752,
  185886,
  186891,
  187540,
  188768,
  190680,
  192383,
  193546,
  195540,
  195651,
  196026,
  196306,
  196408,
  196450,
  196541,
  196998,
  197088,
  197936,
  198384,
  200747,
  201129,
  202222,
  202251,
  202531,
  202683,
  202967,
  203054,
  203420,
  203729,
  203807,
  204504,
  205167,
  206386,
  206786,
  207648,
  208015,
  208528,
  209102,
  210188,
  210658,
  211205,
  211428,
  211586,
  213334,
  213534,
  213759,
  213823,
  214288,
  214643,
  214660,
  215379,
  215458,
  215821,
  215825,
  215947,
  216002,
  216938,
  218099,
  218723,
  219528,
  220484,
  220593,
  220609,
  220631,
  220943,
  220985,
  221273,
  221291,
  221486,
  222582,
  222799,
  223557,
  225252,
  225953,
  228269,
  228606,
  229161,
  229233,
  229637,
  229693,
  230037,
  230359,
  232328,
  232577,
  233089,
  233554,
  234084,
  234641,
  234654,
  235377,
  236053,
  237204,
  237364,
  237981,
  238495,
  239450,
  241413,
  241687,
  241801,
  242134,
  242346,
  243008,
  243815,
  244568,
  246360,
  246481,
  247545,
  248444,
  248725,
  249226,
  250822,
  251544,
  251738,
  252497,
  252576,
  252720,
  253667,
  253976,
  254037,
  254188,
  256381,
  257506,
  257745,
  258102,
  258454,
  260855,
  261300,
  261717,
  261893,
  262338,
  262870,
  263894,
  263902,
  263997,
  264581,
  265475,
  265954,
  266249,
  266292,
  267970,
  268115,
  268398,
  268433,
  268702,
  268723,
  268775,
  269497,
  270159,
  270237,
  271428,
  271653,
  271927,
  272151,
  272949,
  273325,
  274433,
  274496,
  275477,
  276413,
  276478,
  277478,
  278007,
  278299,
  278891,
  279120,
  280071,
  281914,
  281926,
  282067,
  282508,
  282682,
  282737,
  283568,
  283858,
  283899,
  283913,
  284195,
  284269,
  284415,
  284503,
  284747,
  285121,
  285449,
  285814,
  285848,
  286016,
  286684,
  287176,
  287199,
  287518,
  288365,
  288926,
  289050,
  289703,
  290992,
  291814,
  292031,
  292093,
  292370,
  292482,
  292497,
  292664,
  293419,
  293634,
  293784,
  294163,
  294205,
  294315,
  295112,
  295284,
  295301,
  295561,
  296089,
  296251,
  296424,
  296760,
  297502,
  298049,
  298277,
  298609,
  298736,
  298751,
  299319,
  299854,
  300033,
  300340,
  300501,
  300683,
  300976,
  301576,
  301585,
  301901,
  302538,
  302626,
  303178,
  303326,
  304461,
  306016,
  306189,
  307364,
  308123,
  308323,
  308422,
  308885,
  308933,
  309039,
  309565,
  309745,
  310247,
  310297,
  310933,
  311626,
  312063,
  312317,
  312393,
  312439,
  313058,
  313313,
  314107,
  314318,
  314349,
  314357,
  314711,
  315355,
  315558,
  315974,
  316195,
  316516,
  316743,
  316843,
  316975,
  317007,
  318029,
  318070,
  318349,
  318944,
  319522,
  320062,
  320241,
  320574,
  320974,
  321311,
  321395,
  321640,
  322393,
  322737,
  323429,
  323687,
  323862,
  324367,
  324743,
  324841,
  325063,
  325999,
  326379,
  327844,
  329191,
  329654,
  330193,
  330812,
  330878,
  331104,
  331455,
  331658,
  331736,
  332329,
  332340,
  332871,
  334105,
  334386,
  334448,
  335272,
  335425,
  337328,
  337544,
  337970,
  338528,
  338852,
  339221,
  339887,
  340629,
  341068,
  341744,
  341794,
  341830,
  341869,
  342728,
  343350,
  343644,
  344627,
  345785,
  345790,
  346991,
  347029,
  347148,
  347966,
  348050,
  348702,
  348820,
  349666,
  350078,
  350383,
  351256,
  351605,
  352007,
  352060,
  352118,
  352558,
  352767,
  353380,
  353671,
  353734,
  356250,
  357009,
  357857,
  357924,
  358215,
  358363,
  358671,
  359022,
  359192,
  359239,
  359534,
  360643,
  360939,
  361836,
  362978,
  363623,
  363723,
  363770,
  363808,
  363881,
  364604,
  365331,
  366426,
  366850,
  367529,
  369464,
  371432,
  371907,
  373549,
  373698,
  374041,
  375095,
  375158,
  375463,
  375866,
  375931,
  375989,
  376332,
  377073,
  377277,
  377364,
  377367,
  378100,
  379518,
  379743,
  379901,
  380611,
  380929,
  381519,
  382159,
  382890,
  383568,
  383746,
  383939,
  384619,
  384678,
  384806,
  384938,
  385201,
  385633,
  386110,
  386249,
  386394,
  387028,
  388173,
  388318,
  388690,
  388780,
  388938,
  389949,
  390862,
  391058,
  391431,
  391705,
  391712,
  392062,
  392365,
  393624,
  394217,
  394229,
  394317,
  394573,
  394629,
  395745,
  395993,
  397483,
  397855,
  398794,
  399140,
  399184,
  399554,
  400316,
  400896,
  400910,
  401720,
  402274,
  402330,
  404230,
  404519,
  405280,
  405334,
  406057,
  406127,
  406240,
  407106,
  407782,
  408454,
  408502,
  408586,
  409275,
  409620,
  410154,
  410850,
  411523,
  411676,
  411755,
  411928,
  412843,
  413713,
  413757,
  413784,
  414033,
  414810,
  415286,
  415822,
  416719,
  417357,
  417419,
  417879,
  418357,
  419144,
  419465,
  419924,
  420282,
  420631,
  420725,
  420786,
  420853,
  421379,
  421472,
  421917,
  422611,
  422981,
  423196,
  423464,
  424727,
  425686,
  425918,
  426983,
  428064,
  429019,
  429078,
  429377,
  430169,
  430214,
  432090,
  432289,
  432646,
  433469,
  434078,
  435981,
  436475,
  438089,
  438148,
  438367,
  438409,
  438947,
  439411,
  439886,
  440346,
  441193,
  441434,
  441584,
  442468,
  443093,
  443691,
  444265,
  444564,
  445194,
  445233,
  445542,
  446009,
  446012,
  446179,
  446491,
  446579,
  447263,
  447716,
  448624,
  449510,
  449672,
  450171,
  452868,
  453791,
  454694,
  454740,
  455448,
  456115,
  456626,
  456660,
  456987,
  457737,
  459118,
  459498,
  459625,
  460014,
  460567,
  461947,
  463279,
  464972,
  465385,
  465834,
  466006,
  467348,
  467492,
  467557,
  468337,
  468569,
  469596,
  470145,
  470461,
  470520,
  471829,
  472108,
  472550,
  473093,
  473498,
  474028,
  474234,
  475357,
  475447,
  475837,
  475986,
  476054,
  476913,
  477155,
  477676,
  477837,
  478533,
  478795,
  479037,
  479775,
  480135,
  480369,
  480547,
  480744,
  480919,
  481254,
  481525,
  481558,
  482160,
  482919,
  484017,
  484154,
  484907,
  485500,
  486204,
  486218,
  487000,
  488789,
  489165,
  489428,
  491686,
  491774,
  493262,
  493905,
  493998,
  494614,
  496132,
  497756,
  497757,
  497963,
  498299,
  498944,
  499361,
  499871,
  500243,
  500259,
  500300,
  500984,
  501430,
  501440,
  501947,
  502049,
  502085,
  502153,
  503536,
  503820,
  504980,
  505052,
  505489,
  505545,
  506036,
  506422,
  506623,
  507284,
  508221,
  508476,
  508990,
  510744,
  511000,
  511152,
  511817,
  512204,
  512403,
  512769,
  513062,
  513107,
  513266,
  513738,
  514159,
  514543,
  514809,
  514871,
  515388,
  515485,
  515620,
  516448,
  516589,
  516855,
  517376,
  518901,
  520749,
  520869,
  521274,
  521554,
  522084,
  522332,
  523293,
  524393,
  524746,
  524769,
  524833,
  524986,
  524994,
  525318,
  525511,
  526074,
  526677,
  527924,
  528423,
  528674,
  529011,
  529056,
  530343,
  530416,
  531832,
  532148,
  533227,
  533570,
  533638,
  533701,
  534242,
  534321,
  534340,
  534558,
  534607,
  535451,
  536565,
  537513,
  537931,
  538249,
  539619,
  539957,
  540577,
  543256,
  543571,
  544013,
  545123,
  545295,
  545459,
  545900,
  546596,
  546956,
  547387,
  547779,
  548254,
  ...]]

In [45]:
write_list_to_text_file("output.txt",lst[0])

Successfully wrote 3062 items to output.txt

In [48]:

# Path to the directory containing the txt files
source_directory = "../training-data/output"
# Path to the destination file
destination_file_path = './solution.txt'

# List all files in the source directory
files = os.listdir(source_directory)

# Filter to keep only .txt files
txt_files = [f for f in files if f.endswith('.txt')]

# Open the destination file
with open(destination_file_path, 'a') as dest_file:
    for txt_file in txt_files:
        # Construct the full path
        file_path = os.path.join(source_directory, txt_file)
        
        # Open the source file and append its content to the destination file
        with open(file_path, 'r') as source_file:
            content = source_file.read()
            dest_file.write(content + '\n')  # Add a newline for separation